<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <paypal>
    <settings>
      <!-- Replace the mode to `security-test-sandbox` to test if your server supports TLSv1.2. For more information follow README instructions.-->
      <add name="mode" value="paypal"/>
      <add name="connectionTimeout" value="360000"/>
      <add name="requestRetries" value="1"/>
      <add name="clientId" value="AVedNEXsVt2psBwCKUIVMeb2CvcY5Rs8zUNOY1ywq42aFw4vGMcJBeWnhlF1CqjPAw25ouJ36_-P_CoU"/>
      <add name="clientSecret" value="EOgLEc1S3FIqd4CyPgL_UzbfIH1cYcP_3dwV28f_Qrd1nauIA8nQ2sYUTpwM_w26v_FwLTAeb4mfH1fe"/>
    </settings>
  </paypal>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="PayPal.SDK.Sample.log"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
  <appSettings>
    <add key="token" value="I9lYxaWFCZK-IWODostBURje2pcsQEEIGkCKEvTrh1sF2UPSrNgZJMQplOS"/>
    <!--<add key="paypalemail" value="villap@gmail.com" />-->
    <add key="PayPalSubmitUrl" value="https://www.paypal.com/cgi-bin/webscr"/>
    <add key="FailedURL" value="http://craftelia.co.uk/Default.aspx"/>
    <add key="SuccessURL" value="http://craftelia.co.uk/Customer/Invoice.aspx"/>
    <add key="PAYPAL_URL" value="https://www.paypal.com/"/>
    <add key="PAYPAL_REDIRECT_URL" value="https://www.paypal.com/webscr?cmd=_ap-payment&amp;paykey="/>
    <add key="PAYPAL_NOTIFICATION_URL" value="http://craftelia.co.uk/IPNfile.aspx"/>
    <!--<add key="APPLICATION-ID" value="APP-80W284485P5195333" />-->
    <add key="API_REQUESTFORMAT" value="SOAP11"/>
    <add key="API_RESPONSEFORMAT" value="SOAP11"/>
    <add key="API_AUTHENTICATION_MODE" value="3TOKEN"/>
    <add key="PORTAL_PAYPAL_EMAIL" value="zakariama991@gmail.com"/>
    <!--test username-->
    <!--<add key="API_USERNAME" value="shahdarshit-buyer4_api1.gmail.com" />
    <add key="API_PASSWORD" value="8VBYWREA75VZCWK7" />
    <add key="API_SIGNATURE" value="AFcWxV21C7fd0v3bYYYRCpSSRl31ADNl-Tfl-pv882bcPqT1A7SmQ2bd" />-->
    <add key="API_USERNAME" value="hamza1elmannani_api1.gmail.com"/>
    <add key="API_PASSWORD" value="HUJ9CV5MXEEV34AP"/>
    <add key="API_SIGNATURE" value="AiPC9BjkCyDFQXbSkoZcgqH3hpacAyZgFJVfACMWDiX32Wjt-0zNLbZI"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=94.23.61.175;Initial Catalog=aminvendor;User ID=gym; password=Software@1" providerName="System.Data.SqlClient"/>-->
    <add name="DefaultConnection" connectionString="Data Source=SQL6004.site4now.net;Initial Catalog=DB_A35E44_crafteliaUK;User ID=DB_A35E44_crafteliaUK_admin; password=ermelinda2017" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>

   <trust level="Full" />
  <!-- <customErrors mode="RemoteOnly" defaultRedirect="~/Default.aspx">
      <error statusCode="404" redirect="~/Default.aspx" />
    </customErrors> -->
	<customErrors mode="Off" />
	
    <machineKey validationKey="2EEA416CEFC6D6BE856ED57B97FB9CA7DFACE17C073125949A1D682C80A44BB2AD887DDDC13DBFB0954F1000FEE5757E99693F222F8E28CAA2E6DAB8C4F99E0C" decryptionKey="877478B2F33A74226ABEF55FDCC1A76E43F1BBEA6241A592" validation="SHA1"/>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <!--<add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="100000" maxRequestLength="214748364" targetFramework="4.5"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
        <add namespace="Microsoft.AspNet.Identity"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear/>
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear/>
      </providers>
    </profile>
    <roleManager>
      <!--
          ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to WWW" stopProcessing="true">
          <match url=".*"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^craftelia.co.uk.com$"/>
          </conditions>
          <action type="Redirect" url="http://www.craftelia.co.uk/{R:0}" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>

    <!--<httpErrors>
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <error statusCode="401" prefixLanguageFilePath="C:\inetpub\custerr" path="401.htm" />
      <error statusCode="403" prefixLanguageFilePath="C:\inetpub\custerr" path="403.htm" />
      <error statusCode="404" prefixLanguageFilePath="C:\inetpub" path="https://craftelia.co.uk/Default" responseMode="Redirect" />
      <error statusCode="405" prefixLanguageFilePath="C:\inetpub\custerr" path="405.htm" />
      <error statusCode="406" prefixLanguageFilePath="C:\inetpub\custerr" path="406.htm" />
      <error statusCode="412" prefixLanguageFilePath="C:\inetpub\custerr" path="412.htm" />
      <error statusCode="500" prefixLanguageFilePath="C:\inetpub\custerr" path="500.htm" />
      <error statusCode="501" prefixLanguageFilePath="C:\inetpub\custerr" path="501.htm" />
      <error statusCode="502" prefixLanguageFilePath="C:\inetpub\custerr" path="502.htm" />
    </httpErrors> -->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>