
.grid table tbody  tr  th {
  background-color: #f9f9f9;
  border-color:#ccc;
  padding:10px 0px;
}

.grid table tbody  tr  td {
font-size:12px;
padding: 5px;
color: #726f6f;
  border-color:#ccc;
}


.grid table{
   border:solid 1px #ccc;
   width:100%
}

.grid table a{
    font-size:12px;
    font-weight:bold;
    /*color:#4b4b4b;*/
    padding:5px;

}

.grid table table{
   border:solid 1px #ccc;
   width:inherit;
}



#menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
#menu li {
  position: relative;
  margin: 0;
  border-bottom:1px ridge rgba(255, 255, 255, 0.04);
  padding: 0;
  padding: 0;
}
#menu li ul {
  opacity: 0;
  height: 0px;
}
#menu li a {
    
    position: relative;
    display: block;
    color: black;
    white-space: nowrap;
    z-index: 2;
    font-size:11px;
    margin-bottom: 5px;
    text-transform:uppercase;

}
#menu li a:hover {
  color: #f6bc28;

}
#menu li.active > a {
  background-color: #2b303a;
  color: #ffffff;
}
#menu ul li {
    background-color: white;
   
}
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu li ul {
  position: absolute;
  visibility: hidden;
  left: 100%;
  top: -1px;
  background-color: whitesmoke;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.1s linear;
  border-top: 1px solid #ccc;
  z-index:1000;

}

#menu li ul a{
    padding:1px 5px;
}

#menu li ul a:hover{
    background:#f6bc28;
    color:white;
}


#menu li:hover > ul {
  visibility: visible;
  opacity: 1;
}
li#menu-mensagens,li#menu-arquivos {
background-color:#00C6D7!important;
}
#menu li li ul {
  right: 100%;
  visibility: hidden;
  top: -1px;
  opacity: 0;
  transition: opacity 0.1s linear;
}
#menu li li:hover ul {
  visibility: visible;
  opacity: 1;
}

#menu .fa { margin-right: 5px; }

ul#menu i {
    font-size: 1.1em;
    margin-right: 6px;
    width: 10%;
    float: left;
    padding-top: 2px;
}
ul#menu-academico-sub {
    z-index: 999;
}
li#menu-academico{
 z-index: 999;
}

@-moz-document url-prefix() {
    .margintop{
      margin-top:-16px;
    }

}






.bg-color{
    background-color:#f6bc28 !important;
    color:white;
}

.font-color{
    color:#f6bc28 !important;
}

.nopadding{
    padding:0px !important;
}

.nomargin{
    margin:0px !important;
}

.center{
    text-align:center;
}

a {
    color:black;
    text-decoration: none;
}

a:hover{
    color:#f6bc28;
     text-decoration: none;
     border:none;
}

.text-color{
    color:#f6bc28;
}

.mainbg{
    background-color: #f5f5f5;
    min-height:500px;
}

.whitebg{
    background-color:white;
    margin-bottom:15px;
}

.header{
    background-color:#fff;
    box-shadow: 2px 2px 3px rgba(0,0,0,.1);
    position: relative;
margin-bottom: 2px;
}

.sub-header{
    padding:15px 0px;
}


.sh-link{
padding:10px;

}


.sh-link i{
    font-size:20px;
    margin-left:30px;
}

.language{
    font-size: 12px;
padding: 3px 6px;

}

.language-btn{
    height: 25px;
padding: 2px 7px;
}

.category-links{
    padding:0px
}


.category-links h4{
    padding: 10px 15px;
border-bottom: 1px solid #ececec;
color: #000;
background-color: #fafaf8;
margin:0px;
  text-transform: capitalize;
      font-size: 13px;
}


.category-links a{
    color:#0009;
}

.sub-category{
    padding: 4px 20px; 
    /*text-transform:uppercase;
    font-size:12px;*/
}


.product{
    border:solid 1px #ccc;
    padding:10px;
    text-align:center;
    text-transform:capitalize;

}

.product img {
    width:173px;
    height:180px;
    margin-bottom: 4px;
}

.product h5{
    margin:0px;
    height:60px;

}

.product h3{
    font-weight:bold;
    margin:0px;

}


.s-product{
    border:solid 1px #ccc;
    padding:10px;
   

}

.s-product:hover{
    border:solid 1px #ccc;
}

.s-product img {
    width:250px;
    height:250px;
    margin-bottom: 4px;
}

.s-product h5{
    margin:0px;
    height:40px;
    text-transform:capitalize;
        font-size:12px;
 

}

.s-product h6{
    font-weight:bold;
    margin:0px;
  

}

.discount {
    color: #aaa;
    border: solid 1px #aaa;
    padding: 3px;
    margin-top: -14px;
-webkit-margin-before: 0px;
}


.details{
    text-transform:capitalize;
}

.details h1{
    font-size: 2em;
    color: #555;
    font-weight:bold;
    margin: 0px;

}

.details h3{
    color: #000;
    margin:0px;
    font-size: 20px;
font-weight: 700;
}

.details small{
    color:grey;
}

.arrow_box {
	position: relative;
	background:#f8f8f8;
	border: 1px solid #d3d3d3;
    margin-top:35px;
    text-align:center;
    padding:10px;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 91%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(237, 230, 237, 0);
	border-bottom-color: #f8f8f8;
	border-width: 25px;
	margin-left: -83px;
}
.arrow_box:before {
	border-color: rgba(224, 224, 224, 0);
	border-bottom-color: #d3d3d3;
	border-width: 26px;
	margin-left: -84px;
}

.title {
    font-size: 13px;
    line-height: 17px;
    font-weight: 700;
    padding: 0px 2px;
}

.btn-color {
    outline: none;
    padding: 10px 20px;
    color: #fff;
    -webkit-appearance: none;
    background: #f6bc28;
    transition: 0.5s all;
    border: 1px solid #f6bc28;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    text-transform: uppercase;
    font-weight:bold;

}

.btn-color:hover{
     outline: none;
    padding: 10px 20px;
    color: #f6bc28;
    -webkit-appearance: none;
    background: #fff;
    transition: 0.5s all;
    border: 1px solid #f6bc28;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    text-transform: uppercase;
}


.form-div{

   /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.84);*/
   border:solid 1px #ccc;
margin-top:10px;
border-radius:4px;
background:white;
padding:10px;
}




.form-div h3{
    color: #404040;
display: block;
font-size: 24px;
font-weight: bold;
padding: 7px;
position: relative;
text-align: left;
text-transform: uppercase;
}



.form-div h3::after {
    border-bottom: 2px solid #f6bc28;
    bottom: -3px;
    content: "";
    left: 5px;
    position: absolute;
    width: 50px;
}

.form input[type="checkbox"]{
    margin-right: 2px;
}

.form label{
   margin: 5px 15px 6px 1px;
text-transform: capitalize;
font-weight: normal;
font-size: 12px;
}

.form input[type="text"] {
    width: 100%;
    color: #999;
    float: left;
    background: none;
    outline: none;
    font-size: 1em;
    padding: .7em 1em;
    -webkit-appearance: none;
    display: inline-block;
    background: #f9f9f9;
    border: 1px solid #D3D3D3;
    margin:5px 0px;
    height:40px;
}

.form input[type="file"] {
    width: 100%;
    color: #999;
    float: left;
    background: none;
    outline: none;
    font-size: 1em;
    padding: 6px;
    -webkit-appearance: none;
    display: inline-block;
    background: #f9f9f9;
    border: 1px solid #D3D3D3;
    margin:5px 0px;
       height:40px;
}



.form select {
     width: 100%;
    color: #999;
    float: left;
    background: none;
    outline: none;
    font-size: 1em;
    padding: .7em 1em;
    -webkit-appearance: none;
    display: inline-block;
    background: #f9f9f9;
    border: 1px solid #D3D3D3;
       margin:5px 0px;
          height:40px;
   
}


.form input[type="submit"] {
    outline: none;
    padding: 10px 20px;
    color: #fff;
    -webkit-appearance: none;
    background: #f6bc28;
    transition: 0.5s all;
    border: 1px solid #f6bc28;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    text-transform: uppercase;
    font-weight:bold;
    float:right;

}

.form input[type="submit"]:hover {
    outline: none;
    padding: 10px 20px;
    color: #f6bc28;
    -webkit-appearance: none;
    background: #fff;
    transition: 0.5s all;
    border: 1px solid #f6bc28;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    text-transform: uppercase;

}

.form input[type="button"] {
    outline: none;
    padding: 10px 20px;
    color: #fff;
    -webkit-appearance: none;
    background: #f6bc28;
    transition: 0.5s all;
    border: 1px solid #f6bc28;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    text-transform: uppercase;
    font-weight:bold;
    float:right;

}

.form input[type="button"]:hover {
    outline: none;
    padding: 10px 20px;
    color: #f6bc28;
    -webkit-appearance: none;
    background: #fff;
    transition: 0.5s all;
    border: 1px solid #f6bc28;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    text-transform: uppercase;

}


.form input[type="password"] {
    width: 100%;
    color: #999;
    float: left;
    background: none;
    outline: none;
    font-size: 1em;
    padding: .7em 1em;
    -webkit-appearance: none;
    display: inline-block;
    background: #f9f9f9;
    border: 1px solid #D3D3D3;
    margin-bottom:10px;
   
}


.form textarea {
  width: 100%;
    color: #999;
    float: left;
    background: none;
    outline: none;
    font-size: 1em;
    padding: .7em 1em;
    -webkit-appearance: none;
    display: inline-block;
    background: #f9f9f9;
    border: 1px solid #D3D3D3;
    min-height: 12em;
       margin:5px 0px;
 
}

.min-height{
min-height:550px;
margin-top:30px;
}

.required {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    padding: 2px 4px 2px 28px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 11px;
    background-position: 5px 50%;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-image: url('../images/warning.png');
}


footer{
    background-color: #434343;
    padding:10px 0px;
}

footer h5{
    color:#f6bc28;
 text-transform:uppercase;
}

footer h5 small a{
    color:white;
    text-transform:capitalize;
    line-height: 20px;
}


/*multi-level-dropdown*/


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


.dropdown-right {
  top: 0;
  left: 100%;
  font-size: 11px;
}

.dropdown-left {
right:0px;
left:initial;
}



.search input[type="text"] {
    width: 40%;
    color: #999;
    float: left;
    background: none;
    outline: none;
    font-size: 1em;
    padding: .7em 1em;
    -webkit-appearance: none;
    display: inline-block;
    background: #f9f9f9;
    border: 1px solid #D3D3D3;
    margin-bottom:10px;
    float:left;
    height: 40px;
}


.search select {
     width: 40%;
    color: #999;
    float: left;
    background: none;
    outline: none;
    font-size: 1em;
    padding: .7em 1em;
    -webkit-appearance: none;
    display: inline-block;
    background: #f9f9f9;
    border: 1px solid #D3D3D3;
    margin-bottom:10px;
     float:left;
     height: 40px;
   
}


.search a {
   outline: none;
padding: 10px 0px;
color: #fff;
-webkit-appearance: none;
background: #f6bc28;
transition: 0.5s all;
border: 1px solid #f6bc28;
-webkit-transition: 0.5s all;
transition: 0.5s all;
-moz-transition: 0.5s all;
text-transform: uppercase;
font-weight: bold;
float: left;
width: 20%;
height: 40px;
text-align: center;

}

.search a:hover{
    outline: none;
    color: #f6bc28;
    -webkit-appearance: none;
    background: #fff;
    transition: 0.5s all;
    border: 1px solid #f6bc28;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    text-transform: uppercase;

}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.logoff{
    color: #898686;
background-color: #f9f9f9;
border-color: #cccccc;
border-radius: 0px;
padding: 6px 12px;
}


 .inbox {
    padding: 10px;
    border: 1px solid #dfe1e8;
    line-height: 20px;
    background-color:#fff;
  

}

.inbox:hover {
    padding: 10px;
    border: 1px solid #ccc;
    line-height: 20px;
    background-color:#f6f4f4;
  

}

.popup{
    background: #eeefef;
    padding:30px;
}

.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;
            text-transform: capitalize;
margin-left: 5px;
}



/*searchsidebar*/







    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding:3px;
      font-size:11px;
      text-transform:capitalize
    }

    nav.sidebar .navbar-nav > li:first-child{
     
    }

    nav.sidebar .navbar-nav > li{
      /*border-bottom: 1px #e5e5e5 solid;*/
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 100%;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  


    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }


  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }

  .salestype{
      background-color:#272726;
      padding:20px;
      color:white;
      text-align:center;
      min-height:278px;
  }

  .night-hotel {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  /*font: normal 45px/1 "Monoton", Helvetica, sans-serif;*/
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  /*text-shadow: 0 0 10px rgb(255,255,255) , 0 0 20px rgb(255,255,255) , 0 0 30px rgb(255,255,255) , 0 0 40px rgb(255,17,119) , 0 0 70px rgb(255,17,119) , 0 0 80px rgb(255,17,119) , 0 0 100px rgb(255,17,119) , 0 0 150px rgb(255,17,119) ;*/
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  text-shadow: 0 0 1px rgb(255,255,255), 0 0 1px rgb(255,255,255), 0 0 0px rgb(255,255,255), 0 0 8px rgb(255,17,119), 0 0 0px rgb(255,17,119), 0 0 1px rgb(255,17,119), 0 0 10px rgb(255,17,119), 0 0 10px rgb(255,17,118);
font-size:45px;
}

.plan{
        background: #eee;
    padding: 10px;
    border-bottom: 9px solid #8c8c8c;
    background-image: -moz-linear-gradient(#fff,#eee);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
    text-align:center;

}